# Ignore virtual environments
venv/
backend/.env
*.pyc
__pycache__/

# macOS system files
.DS_Store

# Node modules
frontend/node_modules/

# Python cache
*.log

# VSCode settings
.vscode/

# Build artifacts
frontend/build/
